<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.demo">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页类型 -->
        <activity
            android:name=".activity.CustomViewActivity"
            android:exported="true"
            android:label="custom view demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DesignActivity"
            android:exported="true"
            android:label="design lib demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DemoActivity"
            android:exported="true"
            android:label="design lib demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AnimationActivity"
            android:exported="true"
            android:label="canvas demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.JetpackActivity"
            android:exported="true"
            android:label="jetpack demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 自定义view类型 -->
        <activity
            android:name=".activity.custom_view.LuckActivity"
            android:exported="true"
            android:label="sudoku luck">
            <intent-filter>
                <action android:name="com.android.demo.custom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.custom_view.FlowTagActivity"
            android:exported="true"
            android:label="flow tag layout">
            <intent-filter>
                <action android:name="com.android.demo.custom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.custom_view.AuthCodeActivity"
            android:exported="true"
            android:label="multi square editView"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.android.demo.custom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.custom_view.BannerActivity"
            android:exported="true"
            android:label="banner">
            <intent-filter>
                <action android:name="com.android.demo.custom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.custom_view.ListItemActivity"
            android:exported="true"
            android:label="list item">
            <intent-filter>
                <action android:name="com.android.demo.custom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.custom_view.SelectViewActivity"
            android:exported="true"
            android:label="select view">
            <intent-filter>
                <action android:name="com.android.demo.custom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.custom_view.SelectItemViewActivity"
            android:exported="true"
            android:label="select view2">
            <intent-filter>
                <action android:name="com.android.demo.custom" />
            </intent-filter>
        </activity>

        <!-- design包的使用 -->
        <activity
            android:name=".activity.design.BottomSheetActivity"
            android:exported="true"
            android:label="bottom sheet">
            <intent-filter>
                <action android:name="com.android.demo.design.demo" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.design.CoordinatorLayoutActivity"
            android:exported="true"
            android:label="simple coordinator demo">
            <intent-filter>
                <action android:name="com.android.demo.design.demo" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.design.ItemHelperActivity"
            android:exported="true"
            android:label="recycler view item helper">
            <intent-filter>
                <action android:name="com.android.demo.design.demo" />
            </intent-filter>
        </activity>

        <!-- demo -->
        <activity
            android:name=".activity.demo.SeekBarActivity"
            android:exported="true"
            android:label="seek bar demo">
            <intent-filter>
                <action android:name="com.android.demo.demo" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.demo.AidlActivity"
            android:exported="true"
            android:label="aidl demo">
            <intent-filter>
                <action android:name="com.android.demo.demo" />
            </intent-filter>
        </activity>

        <service android:name=".service.LocalService" />

        <activity
            android:name=".activity.demo.PreferenceDemoActivity"
            android:exported="true"
            android:label="preference layout demo">
            <intent-filter>
                <action android:name="com.android.demo.demo" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.demo.BroadcastReceiverActivity"
            android:exported="true"
            android:label="broadcast receiver demo">
            <intent-filter>
                <action android:name="com.android.demo.demo" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.demo.IntentActivity"
            android:exported="true"
            android:label="intent test">
            <intent-filter>
                <action android:name="com.android.demo.demo" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.demo.Intent2Activity"
            android:exported="true"
            android:label="intent test">
            <intent-filter>
                <action android:name="com.android.demo.demo" />
            </intent-filter>
        </activity>

        <!-- animation -->
        <activity
            android:name=".activity.animation.RotationActivity"
            android:exported="true"
            android:label="rotation canvas">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.CanvasActivity"
            android:exported="true"
            android:label="bitmap canvas">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.ClockActivity"
            android:exported="true"
            android:label="bitmap canvas">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.ScrollerActivity"
            android:exported="true"
            android:label="scroller method">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.MultiLauncherActivity"
            android:exported="true"
            android:label="velocity tracker">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.CustomDrawerActivity"
            android:exported="true"
            android:label="custom drawer">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.PathActivity"
            android:exported="true"
            android:label="custom path">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.ClipActivity"
            android:exported="true"
            android:label="clip demo">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.DrawLineActivity"
            android:exported="true"
            android:label="draw line demo">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.ShaderActivity"
            android:exported="true"
            android:label="shader demo">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.GradientActivity"
            android:exported="true"
            android:label="gradient demo">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.LyricViewActivity"
            android:exported="true"
            android:label="lyric view demo">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.animation.FontMetricsActivity"
            android:exported="true"
            android:label="font metrics demo">
            <intent-filter>
                <action android:name="com.android.demo.animation" />
            </intent-filter>
        </activity>

        <!-- jetpack -->
        <activity
            android:name=".activity.jetpack.DataBindingActivity"
            android:exported="true"
            android:label="data binding">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.jetpack.ObservableJavaActivity"
            android:exported="true"
            android:label="observable java">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.jetpack.ObservableActivity"
            android:exported="true"
            android:label="observable kotlin">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.jetpack.RecyclerViewActivity"
            android:exported="true"
            android:label="data binding glide load image">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.jetpack.LiveDataActivity"
            android:exported="true"
            android:label="live data demo">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.jetpack.CustomViewBindingActivity"
            android:exported="true"
            android:label="custom view">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.jetpack.SimpleLiveDataActivity"
            android:exported="true"
            android:label="simple live data">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.jetpack.ObservableTestActivity"
            android:exported="true"
            android:label="simple observable test">
            <intent-filter>
                <action android:name="com.android.demo.jetpack" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".activity.demo.BroadcastReceiverActivity$OrderBroadcastReceiver"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="order_broad" />
            </intent-filter>
        </receiver>
    </application>

</manifest>